@import 'tailwindcss';

:root {
  --primary-blue: #1c98d3;
  --primary-orange:#f16a30;
  --background-light: #f5f3ff;
  --secondary-blue: #e8f5fb;
  --dark-blue:#082e3f;
}


.container {
  @apply mx-auto md:px-8 lg:px-12 px-4;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Heading and paragraph styles */
h3 {
  @apply text-xl md:text-2xl font-semibold text-[#000] leading-tight mb-4;
}

h2 {
  @apply text-2xl md:text-3xl font-bold text-[#000] leading-snug mb-3;
}

h1 {
  @apply text-2xl md:text-4xl font-bold text-[#000] leading-snug mb-2;
}

.paragraph {
  @apply text-base md:text-lg text-gray-700 leading-relaxed mb-2;
}

p{
  @apply text-gray-600 text-sm;
}
/* #1c98d3 */

