@import 'tailwindcss';

h1 {
  @apply text-3xl font-bold;
}
.container {
  @apply mx-auto px-12;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
